* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: #18181b;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: fit-content;

}


/*toggler button color*/
.toggler {
    background: #18181b;

}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    width: 100%;
    top: 0;
}

.nav-items-div ul {
    display: flex;
    justify-content: space-around;
    align-items: end;
    list-style: none;
    height: 100%;
    width: 40vw;
}

.nav-items-div ul li {
    padding: 0 10px;
}

.nav-items-div ul li a {
    text-decoration: none;
    color: white;
}

.nav-items-div ul li a:hover {
    border-bottom: 1px solid white;
}

.details-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.details-div div {
    padding: 10px;
    background: rgba(41, 44, 49, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(41, 44, 49, 0.05);
}

.home-div {
    background-image: url("../images/Ellipse1.png"), url("../images/Ellipse2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
}

.genre-list ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.genre-list li {
    list-style-type: circle;
}

.genre-list li a {
    text-decoration: none;
    color: white;
}

.genre-list li a:hover {
    border-bottom: 1px solid white;
}

/* BookBbyGenre */
#bookByGenre {
    width: 100%;
    position: relative;
    min-height: 70vh;
    border: 1px solid green;
    background-image: url("../images/Ellipse1.png"), url("../images/Ellipse2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
}

#bookByGenre .back {
    position: absolute;
    bottom: 30px;
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

#bookByGenre .back:hover {
    border-bottom: 1px solid white;
}
