* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: #18181b;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: fit-content;

}


/*toggler button color*/
.toggler {
    background: #18181b;

}

.navbar-div-wrapper {
    width: 100vw;
    height: 11vh;
    background-color: rgb(93, 44, 236);
}

.navbar-div-wrapper .navbar-brand {
    color: white;
    text-decoration: none;
    font-weight: 900;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    width: 100%;
    background-color: rgb(93, 44, 236);
    color: white;
    top: 0;
}

.nav-items-div ul {
    display: flex;
    justify-content: space-around;
    align-items: end;
    list-style: none;
    height: 100%;
    width: fit-content;

}

.nav-items-div ul li {
    padding: 0 10px;
}

.nav-items-div ul li a {
    text-decoration: none;
    color: white;
}

.nav-items-div ul li a:hover {
    border-bottom: 1px solid white;
}

.nav-items-div .profile a {
    text-decoration: none;
    color: white;
}

.nav-items-div .profile a:hover {
    text-decoration: none;
}


.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(99, 136, 235);
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile img {
    width: 100%;
    height: 100%;
}


/* HOME */
.details-div,
.search-result-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.details-div div,
.search-result-div .book,
.rental,
.book-details-inner,
.rental-data,
.profileInfo,
.bookByGenre,
.book-info,
.ongoingRentalInfo, .rental-list-item{
    padding: 10px;
    background: rgba(41, 44, 49, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(41, 44, 49, 0.05);
}


.genre-list ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.genre-list li {
    list-style-type: circle;
}

.genre-list li a {
    text-decoration: none;
    color: white;
}

.genre-list li a:hover {
    border-bottom: 1px solid white;
}

.welcome-search {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.welcome-search input,
.newGenre {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(93, 44, 236);
    margin: 10px 0;
    padding: 10px;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.welcome-search input::placeholder {
    color: #757373;
}

.welcome-search input:focus,
.newGenre {
    outline: none;
    background: transparent;
    color: white;
}

.welcome-search button,
.borrow,
.back,
.edit,
.delete,
.addGenre {
    background: rgb(93, 44, 236);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.body {
    width: 100%;
    /* position: relative; */
    min-height: 80vh;
    background-image: url("../images/Ellipse2.png"), url("../images/Ellipse1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 80% 20%, 20% 80%;
    background-attachment: fixed;
    overflow-x: hidden;
}



.back {
    margin: 20px 48%;
    display: flex;
}

.back a {
    text-decoration: none;
    color: white;

}


/* Book details page */
.outer-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    gap: 35px;
}

.outer-div .book-image {
    height: 100%;
}

.outer-div .book-image img {
    object-fit: contain;
    border-radius: 16px;
}

.author {
    line-height: 2.5;
    font-weight: bolder;
    text-decoration: underline;
}


.book-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.book-info li{
    list-style-type: circle;
}

.back-home {
    font-weight: bolder;

}

/* My rentals */

.rentals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.rentals button,
.backHomeBtn,
.logOut {
    background: rgb(93, 44, 236);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;

}

/* rental details */
.outerRentals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


/* book details */
.book-details {
    justify-self: flex-end;
}

.book-details-inner {
    width: 100%;
    min-height: 100%;

}

.libBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.delete {
    background: purple;
}

.outer-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.book-info {
    padding: 30px;
}

.book-info,
.book-image {
    min-height: 90%;
    max-height: fit-content;
}

.book-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.book-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.book-info .heading {
    color: purple;
    font-weight: 700;
}

.ongoingRentalInfo {
    position: relative;
}

.ongoingRentalInfo h3 {
    width: 100%;
    height: fit-content;
    background: rgb(93, 44, 236);
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.oneRental h6 {
    width: 100%;
    height: 20px;
    height: fit-content;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(93, 44, 236);
    color: white;
    padding: 10px;
}

.rentals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.oneRental {
    min-height: 350px;
    border: 1px solid rgb(48, 47, 47);
    border-radius: 8px;
}

@media (min-width: 576px) {
    .rentals {
        grid-template-columns: repeat(2, 1fr);
        /* 3 items per row */
    }
}

@media (min-width: 768px) {
    .rentals {
        grid-template-columns: repeat(3, 1fr);
        /* 3 items per row */
    }
}

@media (min-width: 992px) {
    .rentals {
        grid-template-columns: repeat(4, 1fr);
        /* 4 items per row */
    }
}


/* create book */

.genre_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.create-book form {
    overflow-x: hidden;
}


.create-book input:not([ type="checkbox"

    ]) {
    border-radius: 10px;
    border-bottom: 1px solid rgb(93, 44, 236);
}

.create-book input {
    background: transparent;
    border: none;
    margin: 10px 0;
    padding: 10px;
    color: white;
}

.create-book input[type="checkbox"] {
    border: 1px solid rgb(93, 44, 236);
}

.create-book form {
    width: 65%;
    border: 1px solid rgb(93, 44, 236);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(93, 44, 236);
    padding: 20px;
}

/* media querry for small screen */

@media (max-width: 768px) {
    .create-book {
        width: 100%;
    }

    .create-book form {
        width: 100%;
    }

    .create-book textarea {
        width: 100%;
    }

    .create-book button {
        width: 100%;
    }

    .create-book .genre_list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .create-book {
        width: 50%;
    }

    .create-book form {
        width: 100%;
    }

    .create-book textarea {
        width: 100%;
    }

    .create-book button {
        width: 100%;
    }

    .create-book .genre_list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.create-book input::placeholder {
    color: #757373;
}

.create-book input:focus {
    outline: none;
    background: transparent;
    border: none;
    color: white;
}

.create-book button,
.create-book button:active,
.create-book button:focus,
.create-book button:hover {
    background: rgb(34, 5, 103);
    border: none;
}

.create-book textarea {
    background: transparent;
    border: none;
    border: 1px solid rgb(93, 44, 236);
    margin: 10px 0;
    padding: 10px;
    color: white;
}

.create-book textarea:active,
.create-book textarea:focus {
    outline: none;
    background: transparent;
    border: 1px solid rgb(93, 44, 236);
    /* border: none; */
    color: white;
}

.form-check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


/* Profile */
.profileInfo {
    flex-direction: column;
    width: 35vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profileInfo img {
    width: 150px;
    height: 150px;
}

.profileContainer {
    display: grid;
    place-items: center;
    height: 78vh;
}

.profileContainer a {
    text-decoration: none;
    color: white;
}

.profileButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


/* Book by genre */
.bookByGenre {
    min-height: 300px;
}

.booksByGenreDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.booksByGenreDiv li {
    list-style-type: none;
}

.booksByGenreDiv a {
    text-decoration: none;
    color: white;
}

.booksByGenreDiv .heading {
    font-size: 1.2em;
    font-weight: bolder;
}


.backHomeBtn a {
    text-decoration: none;
    color: white;
}

#bookByGenre .backHomeBtn {
    margin: 20px;
}

/* Genre List */

.genreName {
    color: rgb(93, 44, 236);
}

.genreStyle {
    color: purple;
}

.genre-list ol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

}

.mini-body a {
    text-decoration: none;
    color: white;

}


.genre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 8px;
    padding: 15px;
}

.genreButtons button>a {
    text-decoration: none;
    color: white;
}

.genreButtons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Add a new genre */
.addGenre:hover {
    background: purple;
}

.mini-body select, .librarian-rental-details select, .librarian-rental-details input {
    background: transparent;
    border: none;
    border: 1px solid rgb(93, 44, 236);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.mini-body select:focus, .librarian-rental-details select:focus, .librarian-rental-details input {
    background: rgb(24, 24, 27);
    outline: none;
    color: white;
}

.mini-body form, .librarian-rental-details, .librarian-rental-details input {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    /* width: 60%; */
}


/* Rental list  */
.rental-list-item{
    height: max-content;
    margin-bottom: 10px;
    border-radius: 6px;
}

.rental-list-item a{
    text-decoration: none;
    cursor: pointer;
}

.book-details a{
    text-decoration: none;
    color: white;
}

.rentals a{
    text-decoration: none;
    color: white;
}

.rentalType{
    color: purple;
    font-weight: bolder;
}